# flyctl launch added from .gitignore
**/HELP.md
**/target
**/.mvn/wrapper/maven-wrapper.jar
!**/**/src/main/**/target
!**/**/src/test/**/target

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
nbproject/private
nbbuild
dist
nbdist
.nb-gradle
**/build
!**/**/src/main/**/build
!**/**/src/test/**/build

### VS Code ###
**/.vscode

**/application.properties

**/node_modules
**/.DS_Store
**/package-lock.json

# flyctl launch added from front-end/.gitignore
front-end/**/node_modules
front-end/**/build
front-end/**/.DS_Store
front-end/**/.env
front-end/**/.env.local
front-end/**/.env.development.local
front-end/**/.env.test.local
front-end/**/.env.production.local
front-end/**/.vscode
front-end/**/.idea
front-end/**/package-lock.json
fly.toml
